 <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1468072114808-903e572b8ead?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1566&q=80);"></div>
  <div>
    <div class="blink-title">
      <h1>. drinks autorais .</h1>
    </div>
    <div class="home-container">
      <%= button_tag(type: 'CARTA DE DRINKS', class: "btn-home-verde-neon inner-outline") do %>
        <%= link_to 'CARTA DE DRINKS', cocktails_path %>
      <% end %>
    </div>
  </div>
