<div class="container">
  <%= link_to "add cocktail", new_cocktail_path  %>
  <h1>All cocktails</h1>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-3 cocktail-card">
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>
      <% end %>
    </div>
</div>
