 <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1468072114808-903e572b8ead?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1566&q=80);"></div>
   <h1>Eu mesma que fiz</h1>
 <!--    <%= link_to "add cocktail", new_cocktail_path  %>

        <% @cocktails.each do |cocktail| %>
          <div>
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </div>
        <% end %> -->
      </div>
  </div>
