<body>
  <div class="bg"></div>
  <div class="container">
    <%= link_to "add cocktail", new_cocktail_path  %>
      <h1>“In wine there is wisdom, in beer there is Freedom, in water there is bacteria”</h1>
      <h3>they said...</h3>
      <br>
      <h1>“Let's make drinks!”</h1>
      <div class="row">
        <% @cocktails.each do |cocktail| %>
          <div class="col-3 cocktail-card">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </div>
        <% end %>
      </div>
  </div>
</body>
<!--       <div class="carousel">

  <div class="carousel__slide"><img class="slide__image" src="https://images.unsplash.com/photo-1521252690909-12bf8ef40082?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80" alt="">
  </div>
  <div class="carousel__slide"><img class="slide__image" src="https://images.unsplash.com/photo-1468072114808-903e572b8ead?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1566&q=80" alt="">
  </div>
  <div class="carousel__slide"><img class="slide__image" src="https://images.unsplash.com/photo-1547059470-3b0c7cd958a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80" alt="">
  <div>
</div> -->
