.btn-home-orange {
  color: $my-orange;
  font-size: 24px;
  font-style: bold;
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  height: 100px;
  width: 280px;
  padding: 30px;
  background: linear-gradient(127deg, rgba(12,9,13,1) 19%, rgba(255,140,0,0.3) 96%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  border-radius: 5px;
  border-width: 0px;
  a { color: inherit; }
  a:hover {
    color: $my-orange;
    text-decoration: none;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 500px;
}

